### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "../Resources/schools_complete.csv"
student_data_to_load = "../Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
#Calculate the total number of schools
school_count = len(school_data_complete["school_name"].unique())

#Calculate the total number of students
student_count = len(school_data_complete["student_name"])

#Calculate the total budget
total_budget = school_data_complete.loc[:, ["school_name", "budget"]].drop_duplicates().sum()
total_budget = total_budget["budget"]

#Calculate the average math score
average_math = school_data_complete["math_score"].mean()

#Calculate the average reading score
average_reading = school_data_complete["reading_score"].mean()

#Calculate the percentage of students with a passing math score (70 or greater)
passing_math = len(school_data_complete.loc[school_data_complete["math_score"] >= 70]) / student_count *100

#Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading = len(school_data_complete.loc[school_data_complete["reading_score"] >= 70]) / student_count *100

#Calculate the percentage of students who passed math and reading (% Overall Passing)
overall_passing = len(school_data_complete.loc[(school_data_complete["math_score"] >= 70) &
                                           (school_data_complete["reading_score"] >= 70)]) / student_count *100

#Create a dataframe to hold the above results
district_summary_df = pd.DataFrame({"Total School": [school_count],
                                  "Total Students": student_count,
                                    "Total Budget": total_budget,
                                  "Average Math Score": average_math,
                                  "Average Reading Score": average_reading,
                                  "% Passing Math": passing_math,
                                  "% Passing Reading": passing_reading,
                                  "% Overall Passing": overall_passing})
district_summary_df

,Total School,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [10]:
#set school as index for data frame and add school type
school_summary_df = school_data_complete.loc[:, ["school_name","type"]].drop_duplicates()
school_summary_df.set_index(['school_name'], inplace=True)

#add student count
student_count = school_data_complete.loc[:, ["school_name","student_name"]].groupby("school_name").count()
student_count.rename(columns = {"student_name":"total students"}, inplace=True)
school_summary_df=school_summary_df.merge(student_count, on=["school_name"])


#total budget
total_budget = school_data_complete.loc[:, ["school_name","budget"]].drop_duplicates()
total_budget.rename(columns = {"budget":"school budget"}, inplace=True)
total_budget.set_index("school_name", inplace=True)
school_summary_df = school_summary_df.merge(total_budget, on=["school_name"])

#per student budget
school_summary_df["per student budget"] = school_summary_df["school budget"] / school_summary_df["total students"]
school_summary_df
#average math score

,type,total students,school budget,per student budget
school_name,,,,
Huang High School,District,2917,1910635,655.0
Figueroa High School,District,2949,1884411,639.0
Shelton High School,Charter,1761,1056600,600.0
Hernandez High School,District,4635,3022020,652.0
Griffin High School,Charter,1468,917500,625.0
Wilson High School,Charter,2283,1319574,578.0
Cabrera High School,Charter,1858,1081356,582.0
Bailey High School,District,4976,3124928,628.0
Holden High School,Charter,427,248087,581.0
Pena High School,Charter,962,585858,609.0
Wright High School,Charter,1800,1049400,583.0
Rodriguez High School,District,3999,2547363,637.0
Johnson High School,District,4761,3094650,650.0
Ford High School,District,2739,1763916,644.0
Thomas High School,Charter,1635,1043130,638.0

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type